-- SQL Manager 2008 Lite for SQL Server 3.2.0.2
-- ---------------------------------------
-- Host      : MMORPG-NETWORK\SQLEXPRESS
-- Database  : LOM2Account
-- Version   : Microsoft SQL Server  9.00.1399.06


CREATE DATABASE [LOM2Account]
ON PRIMARY
  ( NAME = [LOM2Account],
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\LOM2Account.mdf',
    SIZE = 3 MB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 1 MB )
LOG ON
  ( NAME = [LOM2Account_log],
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\LOM2Account_log.ldf',
    SIZE = 1 MB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 10 % )
COLLATE Korean_Wansung_CI_AS
GO

USE [LOM2Account]
GO

--
-- Definition for table TBL_USERCOUNT : 
--

CREATE TABLE [dbo].[TBL_USERCOUNT] (
  [FLD_NAME] nchar(20) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_INDEX] tinyint NULL,
  [FLD_TIME] datetime NULL,
  [FLD_COUNT] int NULL,
  [FLD_MAXCOUNT] int NULL,
  [FLD_GAMETYPE] nvarchar(20) COLLATE Korean_Wansung_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_USER : 
--

CREATE TABLE [dbo].[TBL_USER] (
  [LOGID] nchar(50) COLLATE Korean_Wansung_CI_AS NULL,
  [PASSWORD] nchar(42) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PASSFAILCOUNT] int NULL,
  [FLD_PASSFAILTIME] int NULL,
  [FLD_VALIDFROM] datetime NULL,
  [FLD_ENDDATE] datetime NULL,
  [FLD_CURRENTPOINT] int NULL,
  [FLD_STOPUNTIL] int NULL,
  [REMAINED_DAYS] int NULL,
  [IS_OK] int NULL,
  [PAY_CODE] int NULL,
  [FLD_MAKETIME] int NULL,
  [FLD_VER] int NULL
)
ON [PRIMARY]
GO

--
-- Definition for stored procedure SP_LOG_USER : 
--
GO
CREATE PROCEDURE [dbo].[SP_LOG_USER]
	( @szOwner nvarchar(30) )
AS
	IF (@szOwner = NULL)
	BEGIN
		RETURN 2 
	END

	SELECT REMAINED_DAYS,IS_OK,PAY_CODE,[PASSWORD]  FROM TBL_USER A, TBL_ACCOUNTADD B WHERE A.LOGID=@szOwner AND A.LOGID = B.FLD_LOGINID 
--	SELECT FLD_FRIEND,FLD_STATE,FLD_DESC  FROM TBL_USER WHERE FLD_CHARACTER = @szOwner

RETURN 1
GO

--
-- Definition for table TBL_SERVERINFO : 
--

CREATE TABLE [dbo].[TBL_SERVERINFO] (
  [FLD_SERVERNAME] nchar(40) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_FREEMODE] tinyint NULL,
  [FLD_MAXUSERCOUNT] int NULL,
  [FLD_GAMETYPE] nchar(20) COLLATE Korean_Wansung_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_SELECTGATEIPS : 
--

CREATE TABLE [dbo].[TBL_SELECTGATEIPS] (
  [FLD_NAME] nchar(40) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_IP] nchar(40) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PORT] int NULL,
  [FLD_GAMETYPE] nvarchar(20) COLLATE Korean_Wansung_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_PUBIPS : 
--

CREATE TABLE [dbo].[TBL_PUBIPS] (
  [FLD_PUBIP] nchar(32) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_DESCRIPTION] nvarchar(40) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_GAMETYPE] nvarchar(20) COLLATE Korean_Wansung_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_ITEMGIVE : 
--

CREATE TABLE [dbo].[TBL_ITEMGIVE] (
  [FLD_GAMETYPE] nvarchar(8) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_SERVER] nvarchar(40) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_CHARACTER] nvarchar(40) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_FROM] nvarchar(20) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_TYPE] int NULL,
  [FLD_VALUE] int NULL,
  [FLD_UNTIL] datetime NULL,
  [FLD_REGISTER] datetime NULL,
  [FLD_DONE] nvarchar(3) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_STATUS] int NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_COUNTLOGS : 
--

CREATE TABLE [dbo].[TBL_COUNTLOGS] (
  [FLD_COUNT] int NULL,
  [FLD_MAXCOUNT] int NULL,
  [FLD_TIME] datetime NULL,
  [FLD_GAMETYPE] nvarchar(20) COLLATE Korean_Wansung_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_CONNECTLOGS : 
--

CREATE TABLE [dbo].[TBL_CONNECTLOGS] (
  [FLD_LOGINID] nchar(42) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_LOGINIP] nchar(32) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_LOGINTIME] datetime NULL,
  [FLD_GAMETYPE] nchar(20) COLLATE Korean_Wansung_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_CONNCHECKUSER : 
--

CREATE TABLE [dbo].[TBL_CONNCHECKUSER] (
  [FLD_ID] nchar(50) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_ISDEL] int NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_ACCOUNTADD : 
--

CREATE TABLE [dbo].[TBL_ACCOUNTADD] (
  [FLD_LOGINID] nchar(50) COLLATE Korean_Wansung_CI_AS NOT NULL,
  [FLD_SSNO] nchar(36) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_BIRTHDAY] nchar(22) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PHONE] nchar(28) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_MOBILEPHONE] nchar(22) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_ADDRESS1] nchar(100) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_ADDRESS2] nchar(60) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_EMAIL] nvarchar(100) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_QUIZ1] nchar(80) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_ANSWER1] nchar(80) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_QUIZ2] nchar(80) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_ANSWER2] nchar(80) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_ZIPCODE] nchar(14) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_ACCEPTNEWS] int NULL,
  [FLD_MON] int NULL,
  [FLD_PCHECK] int NULL,
  [FLD_PTEL] nchar(28) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PSSNO] nchar(30) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PNAME] nchar(40) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PEMAIL] nvarchar(100) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_USERNAME] nchar(42) COLLATE Korean_Wansung_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table TBL_ACCOUNT : 
--

CREATE TABLE [dbo].[TBL_ACCOUNT] (
  [FLD_LOGINID] nchar(25) COLLATE Korean_Wansung_CI_AS NOT NULL,
  [FLD_PASSWORD] nchar(21) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PASSFAILCOUNT] int NULL,
  [FLD_PASSFAILTIME] bigint NULL,
  [FLD_MAKETIME] datetime NULL,
  [FLD_VER] int NULL,
  [FLD_VALIDFROM] datetime NULL,
  [FLD_FreeVALIDFROM] datetime NULL,
  [FLD_M2VALIDFROM] datetime NULL,
  [FLD_FreeM2VALIDFROM] datetime NULL,
  [FLD_M3VALIDFROM] datetime NULL,
  [FLD_FreeM3VALIDFROM] datetime NULL,
  [FLD_VALIDUNTIL] datetime NULL,
  [FLD_FreeVALIDUNTIL] datetime NULL,
  [FLD_M2VALIDUNTIL] datetime NULL,
  [FLD_FreeM2VALIDUNTIL] datetime NULL,
  [FLD_M3VALIDUNTIL] datetime NULL,
  [FLD_FreeM3VALIDUNTIL] datetime NULL,
  [FLD_SECONDS] int NULL,
  [FLD_FreeSECONDS] int NULL,
  [FLD_M2SECONDS] int NULL,
  [FLD_FreeM2SECONDS] int NULL,
  [FLD_M3SECONDS] int NULL,
  [FLD_FreeM3SECONDS] int NULL,
  [FLD_STOPCODE] int NULL,
  [FLD_STOPUNTIL] datetime NULL,
  [FLD_M2STOPCODE] int NULL,
  [FLD_M2STOPUNTIL] datetime NULL,
  [FLD_M3STOPCODE] int NULL,
  [FLD_M3STOPUNTIL] datetime NULL,
  [FLD_M2LASTLOGIN] datetime NULL,
  [FLD_M2LASTLOGOUNT] datetime NULL,
  [FLD_M3LASTLOGIN] datetime NULL,
  [FLD_M3LASTLOGOUNT] datetime NULL,
  [FLD_SSNO] nchar(14) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_PCHECK] nchar(1) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_SECEDE] nchar(1) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_MATRIX] varchar(96) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_CARDSTATUS] char(1) COLLATE Korean_Wansung_CI_AS NULL,
  [FLD_BINDDATE] datetime NULL,
  [FLD_CARDPASSFAILCOUNT] int NULL,
  [FLD_CARDPASSFAILTIME] bigint NULL
)
ON [PRIMARY]
GO

--
-- Data for table dbo.TBL_ACCOUNT  (LIMIT 0,500)
--

GO

--
-- Data for table dbo.TBL_ACCOUNTADD  (LIMIT 0,500)
--

INSERT INTO [dbo].[TBL_ACCOUNTADD] ([FLD_LOGINID], [FLD_SSNO], [FLD_BIRTHDAY], [FLD_PHONE], [FLD_MOBILEPHONE], [FLD_ADDRESS1], [FLD_ADDRESS2], [FLD_EMAIL], [FLD_QUIZ1], [FLD_ANSWER1], [FLD_QUIZ2], [FLD_ANSWER2], [FLD_ZIPCODE], [FLD_ACCEPTNEWS], [FLD_MON], [FLD_PCHECK], [FLD_PTEL], [FLD_PSSNO], [FLD_PNAME], [FLD_PEMAIL], [FLD_USERNAME])
VALUES 
  (N'test', NULL, N'1979/01/12', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO

--
-- Data for table dbo.TBL_PUBIPS  (LIMIT 0,500)
--

INSERT INTO [dbo].[TBL_PUBIPS] ([FLD_PUBIP], [FLD_DESCRIPTION], [FLD_GAMETYPE])
VALUES 
  (N'127.0.0.1', N'LoginGW', N'MIR2')
GO

--
-- Data for table dbo.TBL_SELECTGATEIPS  (LIMIT 0,500)
--

INSERT INTO [dbo].[TBL_SELECTGATEIPS] ([FLD_NAME], [FLD_IP], [FLD_PORT], [FLD_GAMETYPE])
VALUES 
  (N'DRAGON', N'127.0.0.1', 7100, N'MIR2')
GO

--
-- Data for table dbo.TBL_SERVERINFO  (LIMIT 0,500)
--

INSERT INTO [dbo].[TBL_SERVERINFO] ([FLD_SERVERNAME], [FLD_FREEMODE], [FLD_MAXUSERCOUNT], [FLD_GAMETYPE])
VALUES 
  (N'DRAGON', 1, 1000, N'MIR2')
GO

--
-- Data for table dbo.TBL_USER  (LIMIT 0,500)
--

INSERT INTO [dbo].[TBL_USER] ([LOGID], [PASSWORD], [FLD_PASSFAILCOUNT], [FLD_PASSFAILTIME], [FLD_VALIDFROM], [FLD_ENDDATE], [FLD_CURRENTPOINT], [FLD_STOPUNTIL], [REMAINED_DAYS], [IS_OK], [PAY_CODE], [FLD_MAKETIME], [FLD_VER])
VALUES 
  (N'test', N'test', 0, 0, NULL, NULL, 0, 0, 0, 1, 16, 0, 0)
GO

--
-- Definition for indices : 
--

ALTER TABLE [dbo].[TBL_ACCOUNT]
ADD CONSTRAINT [PK_TBL_ACCOUNT] 
PRIMARY KEY CLUSTERED ([FLD_LOGINID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



